
@font-face {
    font-family: myFont;
    src: url(../Fonts/SANSATION-LIGHT.TTF);
  }

body {
    color: #fff;
    background: url("../img/01.png") top center no-repeat;
    background-size: cover;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h3 {
    color: #606060;
    font-family: "myFont", sans-serif;
}
.gradient-text {
    color: red;
  }
  /* gradient text for modern browsers */
  @supports (background-clip: text) {
    .gradient-text {
      background-image: linear-gradient(60deg, #E21143, #FFB03A);
      background-clip: text;
      color: transparent;
    }
  }
.svg_text {
    width: 40%;
    margin: -5rem auto;
    z-index: 1024;
}

svg text {
    font-family: "myFont", sans-serif;
    font-size: 12rem;
    font-weight: 400;
    stroke: #84837e;
    stroke-width: 1rem;
    animation: text_animation 5s infinite alternate;
    z-index: 5;
}

@keyframes text_animation {
    0% {
        stroke-dasharray: 0 50%;
    }

    100% {
        stroke-dasharray: 40% 0;
        filter: drop-shadow(1px 1px 15px #fff);
    }
}