
@font-face {
    font-family: myFont;
    src: url(../Fonts/SANSATION-LIGHT.TTF);
  }

body {
    color: #fff;
    background: url("../img/01.png") top center no-repeat;
    background-size: cover;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main{
    margin:70px auto ;
}
img{
    position: relative;
    width: 35%;
    margin-bottom: 1rem;
}
h4 {
    margin-top: 0.7rem;
    color: #606060;
    font-family: "myFont", sans-serif;
} 
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .waviy span {
    font-family: "myFont", sans-serif;
    position: relative;
    display: inline-block;
    background: -webkit-linear-gradient(left, #84837e, #606060);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-transform: uppercase;
    animation: waviy 3s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }